<div class="card filters">
    <div class="card-header">
        <strong>Cena</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from">Od</label>
                <input type="number" id="from" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="to">Do</label>
                <input type="number" id="to" class="form-control">
            </div>
            <br>
            <button class="btn btn-primary btn-block btn-sm">Fitruj po cenie</button>
        </form>
    </div>
</div>

